<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Anotar.Log4Net.Fody" version="3.3.1" targetFramework="net461" developmentDependency="true" />
  <package id="AutoMapper" version="6.0.2" targetFramework="net461" />
  <package id="EntityFramework" version="6.2.0" targetFramework="net461" />
  <package id="Fody" version="2.2.0" targetFramework="net461" developmentDependency="true" />
  <package id="GMap.Net.WPF" version="1.0.0.1" targetFramework="net461" />
  <package id="LanguageExt.Core" version="1.9.7" targetFramework="net461" />
  <package id="log4net" version="2.0.8" targetFramework="net461" />
  <package id="morelinq" version="2.8.0" targetFramework="net461" />
  <package id="QuickGraph" version="3.6.61119.7" targetFramework="net40-Client" />
  <package id="System.Reactive.Core" version="3.0.0" targetFramework="net461" />
  <package id="System.Reactive.Interfaces" version="3.0.0" targetFramework="net461" />
  <package id="System.Reactive.Linq" version="3.0.0" targetFramework="net461" />
  <package id="System.Reactive.PlatformServices" version="3.0.0" targetFramework="net461" />
  <package id="System.ValueTuple" version="4.4.0" targetFramework="net461" requireReinstallation="true" />
</packages>